<!DOCTYPE html>
<html>
<head>

	<link rel="icon" type="image/png" sizes="50x50" href="/imagenes/pelota.png">
	<title>Administrador</title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href='/css/play.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

	<div class="container">
		
		<h1> ADMINISTRADOR </h1>

		<div class="card card-container">
			
			<img class="profile-img-card" src="/imagenes/prode.png">

			<form class="form-play" method="get" >
				
				<a href="/loadgame"><input class="btn btn-primary" type="button" value="Load Game"></a>

				<a href="/loadteam"><input class="btn btn-primary" type="button" value="Load Team"></a>

				<a href="/loadschedule"><input class="btn btn-primary" type="button" value="Load Schedule"></a>
				
				<a href="/loadresult"><input class="btn btn-primary" type="button" value="Load Result Game"></a>

				<a href="/singoff"><input class="btn btn-primary" type="button" id="idCS" value="Sing Off"></a>

			</form>

		</div>

	</div>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
