<!DOCTYPE html>
<html>
<head>

	<link rel="icon" type="image/png" sizes="50x50" href="/imagenes/pelota.png">
	<title> Ranking </title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href='/css/global.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
</head>

<body>

	<div class="container">

		<h1> BIENVENIDO AL AREA DE RANKING</h1>

		<h4> EN ESTA SECCION SE MUESTRA EL RANKING GLOBAL DEL JUEGO </h4>

		<div class="card card-container">
			
			<img class="profile-img-card" src="imagenes/ranking.png">

			<table class="idTable">
				<tr>
					<th class="columna"> Usuario </th>
					<th class="columna"> Puntos </th>
				</tr>
		
				{{#ranking}}
				<tr>          
					<td class="fila"> {{username}} </td>
					<td class="fila"> {{points}} </td>
				</tr>
				{{/ranking}}

			</table>
		</div>
	</div>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>