<!DOCTYPE html>
<html>
<head>

	<title> Bienvenido Al Ranking Global </title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href='/css/global.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
</head>

<body>

	<h1> RANKING GLOBAL </h1>

	<h4>En esta seccion se muestra el ranking global del juego, es decir<br>
	el usuario que mas puntos tuvo en total va a estar en primer lugar, <br>
	el segundo con mas puntaje segundo y asi sucesivamente.
	</h4>
	
	<div class="Tabla">
		<table>
			<tr>
				<th> Usuario </th>
				<th> Puntos </th>
			</tr>
		
			{{#ranking}}
			<tr>          
				<td> {{username}} </td>
				<td> {{points}} </td>
			</tr>
			{{/ranking}}

		</table>
	</div>

</body>
</html>