<!DOCTYPE html>
<html>
<head>
	<title>Bienvenidos Al Prode</title>
	<link rel="stylesheet" type="text/css" href="css/fondo.css"> </link>
	<style type="text/css">
		#name{
			margin-left: 5%;
			margin-top: 5%;
		}
		#password{
			margin-left: 5%;
			margin-top: 1%;
		}
		#nam{
			margin-left: 2.5%;
		}
		#boton{
			margin-left: 13%;
			margin-top: 1%;
		}
	</style>
</head>
<body>
	<form>
		<div id="name">
			<label for="username"> Name: </label>
			<input type="text" name="username" id="nam">
		</div>

		<div id="password">
			<label for="password"> Password: </label>
			<input type="password" name="password">
		</div>

		<input type="submit" value="Get in" title="Entrar" id="boton">
		<a href="registrarse.html"><input type="button" value="Sing in" title="Registrarse"></a>
	</form>
</body>
</html>