<!DOCTYPE html>
<html>
<head>

	<title>Bienvenidos Al Prode</title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href='/css/inicio.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

	<form method="get" action="/login">
		<h1> BIENVENIDOS A NUESTRO PRODE </h1>

		<h4> Por favor si usted ya es usuario ingrese los datos y acceda,
		sino registrese como nuevo usuario precionando el boton Sing in. </h4>

		<div class="Name">
			<label for="username"> Name: </label>
			<input class="name" type="text" name="username" placeholder="Name">
		</div>

		<div class="Password">
			<label for="password"> Password: </label>
			<input type="password" name="password" placeholder="Password">
		</div>

		<a href="/login"><input class="Entrar" type="submit" value="Get in" title="Entrar"></a>
		<a href="/registrarse"><input class="Registrarse" type="button" value="Sing in" title="Registrarse"></a>
	</form>

	{{{error}}}

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>