<!DOCTYPE html>
<html>
<head>

	<title>Area Para Jugar</title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<style type="text/css">
		#com{
			margin-top: 5%;
		}
		#predecir{
			margin-left: 5%;
			margin-top: 5%;
		}
		#boton1{
			margin-left: 5%;
			margin-top: 3%;
		}
		#boton{
			margin-left: 4%;
			margin-top: 3%;
		}
	</style>
</head>
<body>
	<form method="get" action="/jugar">

		<h1 align="center"> BIENVENIDO AL AREA DE JUGAR </h1>
		
		<h4 id="com"> Por favor carge su prediccion, marque izquiero si piensa que gana el local, <br>
		derecho si gana el visitante, o en el medio si es empate. </h4>

		<div id="predecir">

			<label for="predecir"> Seleccione la fecha que desea predecir: <br><br> </label>

		</div>

		<a href="/schedule1"><input type="button" value="Schedule 1" title="Fecha 1" id="boton1"></a>

		<a href="/schedule2"><input type="button" value="Schedule 2" title="Fecha 2" id="boton"></a>

		<a href="/schedule3"><input type="button" value="Schedule 3" title="Fecha 3" id="boton"></a>
			
		<a href="/schedule4"><input type="button" value="Schedule 4" title="Fecha 4" id="boton"></a>
		
	</form>
</body>
</html>
