<!DOCTYPE html>
<html>
<head>

	<title>Area Para Jugar</title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href='/css/play.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

	<form method="get">

		<h1> BIENVENIDO AL AREA DE JUGAR </h1>
		
		<h4> Por favor seleccione la fecha que desea predecir. </h4>

		<a href="/schedule1"><input class="Boton" type="button" value="Schedule 1" title="Fecha 1"></a>

		<a href="/schedule2"><input class="Boton1" type="button" value="Schedule 2" title="Fecha 2"></a>

		<a href="/schedule3"><input class="Boton1" type="button" value="Schedule 3" title="Fecha 3"></a>
			
		<a href="/schedule4"><input class="Boton1" type="button" value="Schedule 4" title="Fecha 4"></a><br>

		<a href="/punctuation"><input class="Puntuacion" type="button" value="Punctuation" title="Puntuacion"></a>
		
		<h4> Ver Ranking: </h4>

		<a href="/global"><input class="Global" type="button" value="Global" title="Global"></a>

		<h4> Cerrar Sesion: </h4>

		<a href="/singoff"><input class="CerrarSesion" type="button" value="Sing Off" title="Cerrar Sesion"></a>


	</form>

</body>
</html>
