<!DOCTYPE html>
<html>
<head>

	<title>Area Para Jugar</title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<style type="text/css">
		#com{
			margin-top: 5%;
		}
		#labels{
			margin-left: 5%;
			margin-top: 5%;
		}
		#boton1{
			margin-left: 5%;
			margin-top: 3%;
		}
		#boton{
			margin-left: 8%;
			margin-top: 1%;
		}
		#cerrarsesion{
			margin-left: 15%;
		}
		#ranking{
			margin-left: 3%;
			margin-top: 0%;
		}
		#puntuacion{
			margin-left: 30%;
			margin-top: 3%;
		}
		#sesion{
			margin-left: 10%;
		}
	</style>
</head>
<body>

	<font face="Comic Sans MS,Calibri">
	<form method="get">

		<h1 align="center"> BIENVENIDO AL AREA DE JUGAR </h1>
		
		<h4 id="com"> Por favor seleccione la fecha que desea predecir. </h4>

		<div id="labels">

			<label for="predecir"> Seleccione la fecha que desea predecir: <br><br> </label>

		</div>

		<a href="/schedule1"><input type="button" value="Schedule 1" title="Fecha 1" id="boton1"></a>

		<a href="/schedule2"><input type="button" value="Schedule 2" title="Fecha 2" id="boton"></a>

		<a href="/schedule3"><input type="button" value="Schedule 3" title="Fecha 3" id="boton"></a>
			
		<a href="/schedule4"><input type="button" value="Schedule 4" title="Fecha 4" id="boton"></a><br>

		<a href="/punctuation"><input type="button" value="Punctuation" title="Puntuacion" id="puntuacion"></a>
		
		<div id="labels">

			<label for="predecir" id="ranking"> Ver ranking: <br><br> </label>

			<label for="predecir" id="sesion">  Desea cerrar su sesion?: <br><br> </label>

		</div>

		<a href="/global"><input type="button" value="Global" title="Global" id="boton"></a>

		<a href="/singoff"><input type="button" value="Sing Off" title="Cerrar Sesion" id="cerrarsesion"></a>


	</form>
	</font>

</body>
</html>
