<!DOCTYPE html>
<html>
<head>

	<title>Area Para Jugar</title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href='/css/play.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

	<div class="container">
		
		<h1> BIENVENIDO AL AREA DE JUGAR </h1>

		<h4> SELECCIONE LA FECHA QUE DESEA PREDECIR: </h4>

		<div class="card card-container">
			
			<img class="profile-img-card" src="/imagenes/prode.png">

			<form class="form-play" method="get" >
				
				<a href="/schedule1"><input class="btn btn-primary" type="button" value="Schedule 1"></a>

				<a href="/schedule2"><input class="btn btn-primary" type="button" value="Schedule 2"></a>

				<a href="/schedule3"><input class="btn btn-primary" type="button" value="Schedule 3"></a>
					
				<a href="/schedule4"><input class="btn btn-primary" type="button" value="Schedule 4"></a><br>

				<a href="/punctuation"><input class="btn btn-primary" type="button" value="Punctuation"></a>

				<a href="/global"><input class="btn btn-primary" type="button" value="Ranking"></a>

				<a href="/singoff"><input class="btn btn-primary" type="button" id="idCS" value="Sing Off"></a>

			</form>

		</div>

	</div>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
