<!DOCTYPE html>
<html>
<head>

	<link rel="icon" type="image/png" sizes="50x50" href="/imagenes/pelota.png">
	<title> Puntuacion </title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href='/css/punctuation.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

	<div class="container">

		<h1> BIENVENIDO AL AREA PARA VERIFICAR SUS PREDICCIONES </h1>

		<h4> EN ESTA SECCION SE MUESTRA COMO FUERON SUS PREDICCIONES Y RESPECTIVO PUNTAJE: </h4>

		<div class="card card-container">
			
			<img class="profile-img-card" src="imagenes/puntos.png">

			<table class="idTable">
				<tr>
    				<th class="columna">Fechas</th>
    				<th class="columna">Partido</th>
    				<th class="columna">Tu Resultado</th>
   		 			<th class="columna">Resultado Real</th>
   		 			<th class="columna">¿Acerte?</th>
  				</tr>

  				{{#punctuation}}

  				<tr>
    				<th class="fila">
    					{{schedure_id}}
    				</th>
    				<th class="fila">
    					{{local}} vs {{visitante}}
    				</th>
    				<th class="fila">
    					{{prediction}}
    				</th>
    				<th class="fila">
    					{{local}} {{golLocal}} vs {{visitante}} {{golVisitante}}
    				</th>
    				<th class="fila">
    					{{acerto}}
    				</th>
  				</tr>

  				{{/punctuation}}

			</table>
			<div class="subCard card-container">
			{{#points}}
				<div class="panel panel-success">
    				<div class="panel-body"> {{schedule}}: {{pointsSchedules}} Puntos </div>
 				 </div>        		
        	{{/points}}
        	</div>
    	</div>
	</div>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</body>
</html>