<!DOCTYPE html>
<html>
<head>

	<title> Puntuacion </title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href='/css/punctuation.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

	<h1> SU PUNTUACION POR FECHA: </h1>

	<h4 id="descrip"> En esta seccion se muestra su puntuacion lograda por fecha. </h4>
	<div>
		<table id="tabla">
			<tr>
				<th> Fecha </th>
				<th> Puntos </th>
			</tr>
		
			{{#punctuation}}
			<tr>          
				<td> {{schedure_id}} </td>
				<td> {{points}} </td>
			</tr>
			{{/punctuation}}

		</table>
	</div>
	
</body>
</html>