<!DOCTYPE html>
<html>
<head>

	<link rel="icon" type="image/png" sizes="50x50" href="/imagenes/pelota.png">
	<title> Puntuacion </title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href='/css/punctuation.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

	<div class="container">

		<h1> BIENVENIDO AL AREA DE PUNTAJE POR FECHA </h1>

		<h4> EN ESTA SECCION SE MUESTRA SU PUNTUACION LOGRADA POR FECHA: </h4>

		<div class="card card-container">
			
			<img class="profile-img-card" src="imagenes/puntos.png">

			<table class="idTable">
				<tr>
					<th class="columna"> Fecha </th>
					<th class="columna"> Puntos </th>
				</tr>
		
				{{#punctuation}}
				<tr>          
					<td class="fila"> {{schedure_id}} </td>
					<td class="fila"> {{points}} </td>
				</tr>
				{{/punctuation}}

			</table>
		</div>
	</div>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</body>
</html>