<!DOCTYPE html>
<html>
<head>
	<title>Record</title>
	<link rel="stylesheet" type="text/css" href="css/fondo.css"> </link>
	<style type="text/css">
		#titulo{
			margin-top: 4%;
		}
		#scoreUser{
			margin-left: 15%;
			margin-top: -3%;
		}
		#records{
			margin-left: 15%;
			margin-top: 10%;
		}
		#botonV{
			margin-left: 25%;
			margin-top: 25%;
		}
	</style>
</head>
<body>
	<form>
		<body background="imagenes/fondo.jpg">
		
		<h3 id="titulo"> 'Usuario' </h3>
		
		<div id="scoreUser">
			<label for="scoreUser"> Score: <output id="score" for="scoreOut"/> </label>
		</div>
		
		<div id="records">
			<label for="records"> Records: </label>
		</div>
		
		<a href="jugar.html"><input type="button" value="Volver" title="volver" id="botonV"></a>
	</form>
</body>
</html>
