<!DOCTYPE html>
<html>
<head>

	<title>Record</title>
	<link rel="stylesheet" type="text/css" href="css/fondo.css">
	<link rel="stylesheet" type="text/css" href="css/records.css">
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
</head>
<body>

	<form>
		<body background="imagenes/fondo.jpg">
		
		<h3 id="titulo"> 'Usuario' </h3>
		
		<div id="scoreUser">
			<label for="scoreUser"> Score: <output id="score" for="scoreOut"/> </label>
		</div>
		
		<div id="records">
			<label for="records"> Records: </label>
		</div>
		
		<a href="jugar.html"><input type="button" value="Volver" title="volver" id="botonV"></a>
	</form>
	
</body>
</html>
