<!DOCTYPE html>
<html>
<head>
	<title>Bienvenidos Al Prode</title>
	<link rel="stylesheet" type="text/css" href="css/fondo.css"> </link>
	<style type="text/css">
		#titulo{
			margin-top: 7%;
		}
		#name{
			margin-left: 5%;
			margin-top: 5%;
		}
		#password{
			margin-left: 5%;
			margin-top: 3%;
		}
		#nam{
			margin-left: 2.5%;
		}
		#boton{
			margin-left: 17%;
			margin-top: 3%;
		}
	</style>
</head>
<body>
	<form>
		<h4 id="titulo"> POR FAVOR INGRESE SUS DATOS PARA REGISTRARSE</h4>

		<div id="name">
			<label for="name"> Name: </label>
			<input type="text" name="username" id="nam">
		</div>

		<div id="password">
			<label for="password"> Password: </label>
			<input type="password" name="pas">
		</div>

		<input type="submit" value="Save" title="Guardar" id="boton">
	</form>
</body>
</html>