<!DOCTYPE html>
<html>
<head>

	<title> Bienvenido Al Area De Registro</title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href='/css/registrarse.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
</head>
<body>

	<font face="Comic Sans MS,Calibri">
	<form method="post" action="/registrar">
		 <h1 align="center"> AREA PARA REGISTRARSE COMO NUEVO USUARIO </h1>

		<h4 id="titulo"> Por favor ingrese sus datos para registrarse: </h4>

		<div id="name">
			<label for="name"> Name: </label>
			<input type="text" name="username" id="nam" placeholder="Name">
		</div>

		<div id="password">
			<label for="password"> Password: </label>
			<input type="password" name="pas" placeholder="Password">
		</div>

		<a href="/inicio"><input type="submit" value="Save" title="Guardar" id="boton"></a>
	</form>
	</font>

</body>
</html>