<!DOCTYPE html>
<html>
<head>

	<link rel="icon" type="image/png" sizes="50x50" href="/imagenes/pelota.png">
	<title> Registrar Resultado De Partidos </title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href='/css/administrator.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
</head>
<body>

	<div class="container">
	
		<div class="card card-container">

			<form class="form-prediction" method="post" action="/registerresultgame">

				<label> {{msg}} </label>

				{{#load}}

					<label> Partido: </label><br>
                
        	        <select id="soflow-color" name="game">
                
         		       	{{#games}}
                	
             		   	<option value="{{idGame}}">{{local}} vs {{visitante}}</option>
                	
              		  	{{/games}}
                
            	    </select><br><br>
            	    
            	    <label> Equipo local: </label><input class="transpaLocal" type="numeric" name="local" value="0" size="1"><br><br>
					<label> Equipo visitante: </label><input class="transpaVisitante" type="numeric" name="visit" value="0" size="1"><br><br>

					<a href="/registerresultgame"><input class="btn btn-primary" type="submit" value="Register"></a>
				
				{{/load}}
				
				{{error}}

			</form>
			
		</div>
	
	</div>

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
