<!DOCTYPE html>
<html>
<head>

    <link rel="icon" type="image/png" sizes="50x50" href="/imagenes/pelota.png">
	<title> Bienvenido Al Area De Registro</title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href='/css/registrarse.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
</head>
<body>

	<div class="container">

		<h1> AREA PARA REGISTRARSE COMO NUEVO USUARIO </h1>

		<h4> POR FAVOR INGRESE SU NAME Y PASSWORD PARA PODER REGISTRARSE: </h4>

        <div class="card card-container">

            <img id="profile-img" class="profile-img-card" src="imagenes/user.png" />

            <form class="form-signin" method="post" action="/registrar">

                <input type="text" id="inputName" class="form-control" name="username" placeholder="Username" required autofocus>

                <input type="password" id="inputPassword" class="form-control" name="pas" placeholder="Password" required>
                  
                <a href="/registrar"><input type="submit" class="btn btn-primary" value="Save"></a>

                <input type="reset" class="btn btn-primary" value="Reset">

            </form>

            {{{error}}}

        </div>
    </div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>