<!DOCTYPE html>
<html>
<head>
	<title> Bienvenido A La Tercera Fecha Fecha </title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style type="text/css">
		#partidos{
			margin-left: 20%;
			margin-top: 5%;
		}
		#boton{
			margin-left: 21%;
			margin-top: 2%;
		}
	</style>
</head>
<body>
	<form method="post" action="/schedule3">
		<h1 align="center"> BIENVENIDO A LA TERCERA FECHA </h1>

		<div id="partidos">

			<label for="primerpartido"> ARGENTINA VS ESPAÑA </label> <br>
			<input type="radio" name="partido1"> GANA ARGENTINA <br>
			<input type="radio" name="partido1"> GANA ESPAÑA <br>
			<input type="radio" name="partido1"> EMPATAN <br><br>

			<label for="segundopartido"> ALEMANIA VS FRANCIA </label> <br>
			<input type="radio" name="partido2"> GANA ALEMANIA <br>
			<input type="radio" name="partido2"> GANA FRANCIA <br>
			<input type="radio" name="partido2"> EMPATAN <br><br>

			<label for="tercerpartido"> BRASIL VS URUGUAY </label> <br>
			<input type="radio" name="partido3"> GANA BRASIL <br>
			<input type="radio" name="partido3"> GANA URUGUAY <br>
			<input type="radio" name="partido3"> EMPATAN <br><br>

			<label for="cuartopartido"> PORTUGAL VS RUSIA </label> <br>
			<input type="radio" name="partido4"> GANA PORTUGAL <br>
			<input type="radio" name="partido4"> GANA RUSIA <br>
			<input type="radio" name="partido4"> EMPATAN <br><br>

			<label for="quintopartido"> COLOMBIA VS BELGICA </label> <br>
			<input type="radio" name="partido5"> GANA COLOMBIA <br>
			<input type="radio" name="partido5"> GANA BELGICA <br>
			<input type="radio" name="partido5"> EMPATAN <br><br>

		</div>

		<a href=""><input type="submit" value="Predictions" title="Prediccionar" id="boton"></a>


	</form>
</body>
</html>