<!DOCTYPE html>
<html>
<head>
	<title> Bienvenido A La Primera Fecha </title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style type="text/css">
		#partidos{
			margin-left: 20%;
			margin-top: 2%;
		}
		#boton{
			margin-left: 21%;
			margin-top: 2%;
		}
	</style>
</head>
<body>
	<form method="post" action="/loadPredictions">
		<h1 align="center"> BIENVENIDO A LA FECHA NUMERO <input type="number" name="f" value="1" size="1" style="border:none" readonly></h1>

		<div id="partidos">
			
			<input type="text" name="id1" value="1" size="1" style="border:none" readonly> <label for="primerpartido"> ARGENTINA VS ALEMANIA </label> <br>
			<input type="radio" name="partido1" value="1"> GANA ARGENTINA <br>
			<input type="radio" name="partido1" value="2"> GANA ALEMANIA <br>
			<input type="radio" name="partido1" value="0" checked> EMPATAN <br><br>

			<input type="text" name="id2" value="2" size="1" style="border:none" readonly><label for="segundopartido"> BRASIL VS ESPAÑA </label> <br>
			<input type="radio" name="partido2" value="1"> GANA BRASIL <br>
			<input type="radio" name="partido2" value="2"> GANA ESPAÑA <br>
			<input type="radio" name="partido2" value="0" checked> EMPATAN <br><br>

			<input type="text" name="id3" value="3" size="1" style="border:none" readonly><label for="tercerpartido"> FRANCIA VS URUGUAY </label> <br>
			<input type="radio" name="partido3" value="1"> GANA FRANCIA <br>
			<input type="radio" name="partido3" value="2"> GANA URUGUAY <br>
			<input type="radio" name="partido3" value="0" checked> EMPATAN <br><br>

			<input type="text" name="id4" value="4" size="1" style="border:none" readonly><label for="cuartopartido"> PORTUGAL VS COLOMBIA </label> <br>
			<input type="radio" name="partido4" value="1"> GANA PORTUGAL <br>
			<input type="radio" name="partido4" value="2"> GANA COLOMBIA <br>
			<input type="radio" name="partido4" value="0" checked> EMPATAN <br><br>

			<input type="text" name="id5" value="5" size="1" style="border:none" readonly><label for="quintopartido"> RUSIA VS BELGICA </label> <br>
			<input type="radio" name="partido5" value="1"> GANA RUSIA <br>
			<input type="radio" name="partido5" value="2"> GANA BELGICA <br>
			<input type="radio" name="partido5" value="0" checked> EMPATAN <br><br>
	
		</div>

		<a href="/loadPredictions"><input type="submit" value="Predictions" title="Prediccionar" id="boton"></a>

	</form>
</body>
</html>