<!DOCTYPE html>
<html>
<head>

    <link rel="icon" type="image/png" sizes="50x50" href="/imagenes/pelota.png">
	<title> Buscar Usuario </title>
	<link rel='stylesheet' href='/css/fondo.css'>
	<link rel='stylesheet' href='/css/registrarse.css'>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
</head>
<body>

	<div class="container">

        <h1> BIENVENIDO AL AREA PARA ELIMINAR UN ADMINISTRADOR </h1>

		<h4> POR FAVOR INGRESE EL NOMBRE DEL USUARIO: </h4>

        <div class="card card-container">
        
            <form class="form-registergame" method="post" action="/removeAdministrator">

                <label> Usuario: </label><input type="text" class="form-control" name="removeAdministrator" placeholder="Username" required>

                <a href="/removeAdministrator"><input type="submit" class="btn btn-primary" value="Accept"></a>

                <input type="reset" class="btn btn-primary" value="Reset">

            </form>

            {{{error}}}

        </div>
    </div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>