body {
  padding-bottom: 40px;
  background-color: #eee;
  height: 100%;
  font-family:Verdana,sans-serif;
  font-size:15px;
  line-height:1.5;
}

#tabla{
	margin-left: 10%;
	margin-top: 5%;
}
#descrip{
	margin-top: 5%;
}