body {
  	font-style: italic;
  	font-size:20%;
}

h1{
  	text-align: center;
}

h4{
	padding-top: 5%;
	text-align: center;
}

div.Name{
	text-align: center;
	margin-top: 7%;
}

div.Password{
	text-align: center;
	margin-top: 3%;
}

input.Entrar{
	margin-left: 45%;
	margin-top: 3%;
}

input.Registrarse{
	margin-left: 2%;
}

input.name{
	margin-left: 2%;
}
