body {
  font-style: italic;
  font-size:20px;
}

h1{
	text-align: center;
}

h4{
	padding-top: 5%;
	text-align: center;
}

input.Boton{
	margin-left: 25%;
	margin-top: 3%;
}

input.Boton1{
	margin-left: 8%;
	margin-top: 1%;
}

input.Puntuacion{
	margin-left: 47%;
	margin-top: 3%;
}

input.Global{
	margin-left: 48%;
	margin-top: 3%;
}

input.CerrarSesion{
	margin-left: 48%;
	margin-top: 3%;
}

