body {
  font-style: italic;
  font-size:20%;
}

h1{
	text-align: center;
}

td, th {
    border: 1px solid black;
}

table{
	width: 25%;
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 10px; 
}

#tabla{
	margin-left: 10%;
	margin-top: 5%;
}
#descrip{
	margin-top: 5%;
}