body {
  font-style: italic;
  font-size:20%;
}

h1{
	text-align: center;
}

h4{
	padding-top: 5%;
	text-align: center;;
}

div.Tabla{
	padding-top: 5%;
	margin-left: 42%;
}

td, th {
    border: 1px solid black;
}

table{
	width: 25%;
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 10px; 
}

