body {
  font-style: italic;
  font-size:20%;
}

#titulo{
	margin-top: 4%;
}
#scoreUser{
	margin-left: 15%;
	margin-top: -3%;
}
#records{
	margin-left: 15%;
	margin-top: 10%;
}
#botonV{
	margin-left: 25%;
	margin-top: 25%;
}