body {
  	font-style: italic;
  	font-size:20%;
}

h1{
	text-align: center;
}

h4{
	padding-top: 7%;
	text-align: center;
}

div.Name{
	margin-left: 35%;
	margin-top: 5%;
}

div.Password{
	margin-left: 35%;
	margin-top: 3%;
}

input.name{
	margin-left: 3%;
}

input.Guardar{
	margin-left: 43%;
	margin-top: 3%;
}


