body {
  font-style: italic;
  font-size:20%;
}

h1{
	text-align: center;
}

#titulo{
	margin-top: 7%;
}
#name{
	margin-left: 5%;
	margin-top: 5%;
}
#password{
	margin-left: 5%;
	margin-top: 3%;
}
#nam{
	margin-left: 2.5%;
}
#boton{
	margin-left: 15%;
	margin-top: 3%;
}

