body {
	background: url("/home/agustin/Escritorio/Prode/prodc/views/imagenes/fondoo.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}